<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nickname</key>
		<string>运动减肥减肥法</string>
		<key>picturename</key>
		<string>a.png</string>
		<key>bigpicturename</key>
		<string>A1.png</string>
		<key>briefly</key>
		<string>运动减肥方法是日常减肥者采用最多的减肥方法</string>
		<key>content</key>
		<string>运动减肥方法是日常减肥者采用最多的减肥方法，因为此减肥方法安全无任何副作用，也不易反弹，不过此减肥方法需要长期坚持，还需要配合饮食才能达到最佳的减肥效果。 
运动减肥见效缓慢，但是能够改善胰岛素敏感度，提高静代谢率，可以保持瘦体质，再搭配上合理饮食则是最佳的健康减肥方法，要比单纯控制饮食减肥不知要好多少。</string>
	</dict>
	<dict>
		<key>nickname</key>
		<string>绿色药物减肥法</string>
		<key>picturename</key>
		<string>b.png</string>
		<key>bigpicturename</key>
		<string>B1.png</string>
		<key>briefly</key>
		<string>如果您想快速的减肥，我们可以通过使用具有抗肥胖疗效的绿色产品来进行减脂减肥</string>
		<key>content</key>
		<string>如果您想快速的减肥，我们可以通过使用具有抗肥胖疗效的绿色产品来进行减脂减肥。这包括一些减肥药贴和减肥胶囊。当然很多药物中加有国家禁止使用的药物，这些药物产生的副作用比较大，而且容易反弹。所以请您在选择的时候要谨慎。不太喜欢运动或者没有时间的可以选择现在比较流行的绿色产品雅诗儿来进行减肥。</string>
	</dict>
	<dict>
		<key>nickname</key>
		<string>量身减肥</string>
		<key>picturename</key>
		<string>c.png</string>
		<key>bigpicturename</key>
		<string>C1.png</string>
		<key>briefly</key>
		<string>量身减肥简单的说就是量身制定减肥计划</string>
		<key>content</key>
		<string>量身减肥简单的说就是量身制定减肥计划，根据自身的不同情况，寻找减肥效果最大化，这需要有经验的专业机构或专家指点才行。 
减肥不能盲目进行并不是没有道理的，因为肥胖者的年龄、性别、伴有的慢性疾病、身体状况、生活和饮食习惯、遗传因素等多方面存在的诸多差异，那么减肥当然也要因人而异，对症施治才行，而量身减肥方法则是最佳的选择</string>
	</dict>
	<dict>
		<key>nickname</key>
		<string>营养减肥 </string>
		<key>picturename</key>
		<string>d.png</string>
		<key>bigpicturename</key>
		<string>D1.png</string>
		<key>briefly</key>
		<string>营养减肥方法则属于饮食减肥方法的一种，就是吃的少，但是营养价值高，能够满足人体每日所需才行</string>
		<key>content</key>
		<string>营养减肥方法则属于饮食减肥方法的一种，就是吃的少，但是营养价值高，能够满足人体每日所需才行。 
营养减肥方法就是代餐，用高营养低热量的食品来代替低营养高热量的食品，这主要就是考虑到单纯性肥胖者最基本的原因就是摄入热量远远超过了消耗热量所致的。</string>
	</dict>
	<dict>
		<key>nickname</key>
		<string>吸脂减肥</string>
		<key>picturename</key>
		<string>e.png</string>
		<key>bigpicturename</key>
		<string>E1.png</string>
		<key>briefly</key>
		<string>吸脂减肥是利用科技进行的</string>
		<key>content</key>
		<string>吸脂减肥是利用超声波、高频电场等物理手段将脂肪击碎，再通过皮肤小切口将吸脂管插入皮下脂肪层，利用负压的吸力，将人体局部堆积的皮下脂肪去除，以达到减肥及改善体形的目的</string>
	</dict>
	<dict>
		<key>nickname</key>
		<string>行为矫正减肥法</string>
		<key>picturename</key>
		<string>f.png</string>
		<key>bigpicturename</key>
		<string>F1.png</string>
		<key>briefly</key>
		<string>平时的行为举止矫正来减肥</string>
		<key>content</key>
		<string>行为矫正方法就是针对肥胖者生活中的一些容易形成肥胖的不良生活习惯，制定行为矫正措施，采取自我监督、外界刺激和行为强化等有效实施方法，从而改变和消除不良生活习惯，建立健康生活方式。</string>
	</dict>
	<dict>
		<key>nickname</key>
		<string>左旋肉碱减肥法</string>
		<key>picturename</key>
		<string>g.png</string>
		<key>bigpicturename</key>
		<string>G1.png</string>
		<key>briefly</key>
		<string>又称L-肉碱或音译卡尼丁，国际上新兴的减肥补充剂</string>
		<key>content</key>
		<string>又称L-肉碱或音译卡尼丁，国际上新兴的减肥补充剂，是一种促使脂肪转化为能量的类氨基酸，运输脂肪到线粒体中燃烧，从而快速减肥，被国内外相关机构认为可健康减肥、高效、不反弹。普利婷左旋肉碱jianfei66 最为安全高效，在2003年被国际肥胖健康组织认定为最安全高效的减肥营养补充品，达到了世界卫生组织（WHO）安全、高效、不反弹的健康减肥要求</string>
	</dict>
	<dict>
		<key>nickname</key>
		<string>磁石经络法</string>
		<key>picturename</key>
		<string>h.png</string>
		<key>bigpicturename</key>
		<string>H1.png</string>
		<key>briefly</key>
		<string>中医在经络减肥方面有其独特的形式，磁石经络法就是以黑膏药添加磁石的形式出现</string>
		<key>content</key>
		<string>中医在经络减肥方面有其独特的形式，磁石经络法就是以黑膏药添加磁石的形式出现。通过磁石在神阙穴（肚脐）的调节功效及黑膏药的透皮吸收作用，可以激发经气，通经脉，促进气血运行，提高肠蠕动力度，增加脂质物质的排泄，消除排便不畅，腹胀等不良现象</string>
	</dict>
	<dict>
		<key>nickname</key>
		<string>穴位“推腹”法</string>
		<key>picturename</key>
		<string>i.png</string>
		<key>bigpicturename</key>
		<string>I1.png</string>
		<key>briefly</key>
		<string>穴位“推腹”法又称按摩法、点穴减肥法</string>
		<key>content</key>
		<string>穴位“推腹”法又称按摩法、点穴减肥法。利用中医穴位经络减肥“推腹”，不但减少胃部、腹部的赘肉，而且可以治好很多的慢性疾病，有句话叫做“一切慢性疾病都可以通过推腹法调理治疗。” 
　　通过中医减肥治疗一段时间，当机体代谢达到一个新的“调节点”，体重即稳定在一个新的水平。因此，治疗效果巩固、持久、不易反弹。中医减肥因其效果明显、无副作用等特点，深受广大减肥爱好者的青睐。</string>
	</dict>
	<dict>
		<key>nickname</key>
		<string>针灸减肥法</string>
		<key>picturename</key>
		<string>j.png</string>
		<key>bigpicturename</key>
		<string>J1.png</string>
		<key>briefly</key>
		<string>通过刺激经络穴位能帮助您改善两个系统的功能</string>
		<key>content</key>
		<string>通过刺激经络穴位能帮助您改善两个系统的功能，这两个系统是：下丘脑-脑垂体-肾上腺皮质，和交叉耦合-肾上腺髓质。因此，不但使基础新陈代谢虑加快，还使脂肪代谢虑加快，从而增加热能消耗多余脂肪。最后，还能调整 、 修复和完善人体的自然平衡状态</string>
	</dict>
</array>
</plist>
