<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nickname</key>
		<string>玉米青豆炒腊肠</string>
		<key>picturename</key>
		<string>1A.jpg</string>
		<key>bigpicturename</key>
		<string>1.jpg</string>
		<key>briefly</key>
		<string>材料：玉米 青豆 腊肠 油 盐</string>
		<key>content</key>
		<string>做法：
    1.玉米青豆洗净沥水，倒入油锅内翻炒，炒制一会以后盛盘装出备用
　 2.腊肠切片备用，再事先炒制玉米青豆的锅内放入腊肠翻炒，待腊肠炒出香味后倒入事先炒过的玉米青豆继续翻炒，加入适量盐和料酒调味，待玉米以及腊肠都炒透后即可。
　  玉米青豆作为低脂的最好搭档了，不仅热量低，而且还含有高纤维帮助大肠蠕动助消化，清洗肠胃又通便。这款菜也是减肥瘦身的最佳食物之一喔!玉米属于粗粮还是低卡食品，富含纤维素有助排便自然是不用多说，而且极具营养，用来最为减肥餐最适合不过了。平时嘴馋的MM可以用玉米粒作为零食，有助瘦身噢。青豆和黄豆一样属于高蛋白、高脂肪、高纤维的大豆类，减肥时可少量食用。</string>
	</dict>
	<dict>
		<key>nickname</key>
		<string>木耳豆腐汤</string>
		<key>picturename</key>
		<string>2A.jpg</string>
		<key>bigpicturename</key>
		<string>2.jpg</string>
		<key>briefly</key>
		<string>材料：黑木耳25克，豆腐200克，盐少许，鸡汤1碗</string>
		<key>content</key>
		<string>做法：
    先将水发黑木耳洗净，豆腐切成片，将豆腐与黑木耳加入鸡汤、盐，同炖10分钟，即可食用。
　 黑木耳里的卵磷脂在体内可使脂肪呈液态，比较利于脂肪在体内进行消耗，可以带动体内脂肪运动，使脂肪分布合理从而使人变得形体匀称。其中含有的纤维素能促进肠蠕动，促进脂肪排泄，有利于减肥。它所含的蛋白质、脂肪、糖类，不仅是人体必需的营养成分，也是美容的物质基础。豆腐含有的植物性微量元素极其丰富，有助于排出多余水分，提高消化功能，特别是针对腹部的脂肪尤其有效。豆腐含大量的植物性蛋白质，吃进肚里易饱经饿，是优点多多的减肥食物。</string>
	</dict>
	<dict>
		<key>nickname</key>
		<string>双菇肉丝</string>
		<key>picturename</key>
		<string>3A.jpg</string>
		<key>bigpicturename</key>
		<string>3.jpg</string>
		<key>briefly</key>
		<string>材料：鲜香菇、金针菇、猪肉、姜、葱、香菜、鸡精、食盐</string>
		<key>content</key>
		<string>做法：
　　1.金针菇洗净切成段，香菇洗净切成薄片。
　　2.猪肉切丝加点淀粉腌一会。
　　3.葱切成葱花，姜切丝。
　　4.热锅凉油下入肉丝煸炒至肉丝发白取出备用，锅里油热加入葱花姜丝炒出香味，然后加入肉丝翻炒几下，再加入香菇炒软，最后加入金针菇翻炒，加点酱油炒熟，加盐，鸡精调味，最后撒上香菜段即可。
　　菌菇类，热量低而营养丰富，几乎可以与肉类相媲美。同时富含水溶性与不溶性食物纤维，富含的食物纤维，能促进肠道蠕动能力，令油分充分排出体外。所以减肥的MM们除了多吃香菇，金针菇还应该多吃其他菌菇类。菌菇类在小肠内能抑制脂肪酶的活动，具有分解并吸收脂肪的作用。同时，对于抑制血糖上升、改善血液循环、提高免疫力也有显著的功效，其保湿美肌的能力也是女性最受益的呢。</string>
	</dict>
	<dict>
		<key>nickname</key>
		<string>南瓜饭</string>
		<key>picturename</key>
		<string>4A.jpg</string>
		<key>bigpicturename</key>
		<string>4.jpg</string>
		<key>briefly</key>
		<string>材料：南瓜400克、大米200克、食油2汤匙、食盐1茶匙、清水500毫升</string>
		<key>content</key>
		<string>做法：
　 1.将南瓜去皮去籽后切成小块，大米清洗干净备用;
　 2.炒锅内倒入2汤匙食油烧至7分热，然后倒入南瓜块翻炒1分钟;倒入洗净的大米与南瓜炒匀，然后加入约500毫升清水，使其刚好没过大米，盖上锅盖转为中火焖10分钟，然后打开盖调入盐翻炒均匀，再次盖上锅盖用最小火焖15-20分钟收干水分后即可。
　 南瓜饭做法简单又好吃，比白米饭热量低，多吃一碗也不必担心会发胖，来学学好吃不胖的南瓜饭做法。南瓜饭减肥可以当成主食进行您的减肥计划，避免节食减肥和不吃主食减肥方法带来的负面影响。</string>
	</dict>
	<dict>
		<key>nickname</key>
		<string>酱香炒茄条</string>
		<key>picturename</key>
		<string>5A.jpg</string>
		<key>bigpicturename</key>
		<string>5.jpg</string>
		<key>briefly</key>
		<string>材料：茄子适量。葱花，蒜碎，干红辣椒适量。豆豉香辣酱，蚝油，白糖，盐，苹果醋，鸡精适量</string>
		<key>content</key>
		<string>做法：
　 1.茄子洗净，连皮切成条，干红辣椒切碎，炒锅内倒入油，大火热，放入切成条的茄子，炸约4分钟至茄条软透后捞出，沥去油分。
    2.炒锅内留少许油，烧至六成热，放入切好的干红辣椒碎和豆豉酱爆出香味，倒入炸好的茄子条，翻炒均匀后加入蒜碎，调入白砂糖，盐和蚝油，拌炒至汤汁浓稠，淋入苹果醋和鸡精炒匀，关火，将炒好的茄子盛出盘中，撒上葱花即可。</string>
	</dict>
	<dict>
		<key>nickname</key>
		<string>干炸冬笋</string>
		<key>picturename</key>
		<string>6A.jpg</string>
		<key>bigpicturename</key>
		<string>6.jpg</string>
		<key>briefly</key>
		<string>原料：嫩冬笋尖300克、小红椒10克、青椒10克，精盐、味精、植物油各适量</string>
		<key>content</key>
		<string>做法：
　 1、冬笋洗净，切成4厘米长、1厘米宽的条，
　 2、锅置火上.放油烧热，投入冬笋条炸至出水后捞出，待油温上升时，再炸至焦黄时捞出，沥干油;
　 3、锅烧热，下少许油，入笋炒，加精盐和味精即成。　　1、冬笋洗净，切成4厘米长、1厘米宽的条，
　　2、锅置火上.放油烧热，投入冬笋条炸至出水后捞出，待油温上升时，再炸至焦黄时捞出，沥干油;
　　3、锅烧热，下少许油，入笋炒，加精盐和味精即成。</string>
	</dict>
	<dict>
		<key>nickname</key>
		<string>苦瓜竹笋汤</string>
		<key>picturename</key>
		<string>7A.jpg</string>
		<key>bigpicturename</key>
		<string>7.jpg</string>
		<key>briefly</key>
		<string>材料：苦瓜、竹笋、姜片、虾皮、萝卜苗</string>
		<key>content</key>
		<string>做法：
　　1.竹笋去皮切片，焯水，这样就会去涩去草酸。
　　2.将苦瓜洗净去瓤，切成小段。
　　3.把清水、姜片、虾皮放进锅里并烧开，再放入竹笋片煮20分钟。
　　4.接着放入苦瓜煮三五分钟，最后放入萝卜苗并调味即可。
　　功效：苦瓜降火消脂、竹笋有吸附脂肪、促进食物发酵、助消化和促进排泄的作用。新鲜萝卜苗的维生素含量很高，人体摄入足够的量就能起到加快新陈代谢的作用。所以，这款汤即爽口又营养，最主要的是能起到减肥的作用</string>
	</dict>
	<dict>
		<key>nickname</key>
		<string>南瓜花炒鸡蛋</string>
		<key>picturename</key>
		<string>8A.jpg</string>
		<key>bigpicturename</key>
		<string>8.jpg</string>
		<key>briefly</key>
		<string>材料：南瓜花300克、鸡蛋2个</string>
		<key>content</key>
		<string>做法：
　　1.将南瓜花洗干净，花柄去皮，花托去表，花朵去蕊。
　　2.将鸡蛋打散，大理古城的土鸡蛋蛋黄黄黄的，炒出来很香。
　　3.先将鸡蛋在热油中煎好，鸡蛋别煎老了，变黄就铲出备用。
　　4.在锅内加少许油炒南瓜花。
　　功效：南瓜花，纯天然美容养颜食品，南瓜花的花粉含有丰富的蛋白质、氨基酸、脂肪、糖、B族维生素和酶.南瓜花具有清利湿热、消肿减肥等特性。近年来研究发现，花中还含大量胡萝卜素，具有防癌抗癌之功效，食用南瓜花，不但瘦身，还能有效地提高智商哦。</string>
	</dict>
	<dict>
		<key>nickname</key>
		<string>四色水果饭</string>
		<key>picturename</key>
		<string>9A.png</string>
		<key>bigpicturename</key>
		<string>9.jpg</string>
		<key>briefly</key>
		<string>材料：珍珠米50克、猕猴桃、橙子各1个、草莓5个，木瓜半个</string>
		<key>content</key>
		<string>做法：
　 1.珍珠米淘净，用冷水浸泡20分钟，放入电饭锅中，加入适量开水，蒸熟备用。
　 2.橙子、猕猴桃分别去皮，切丁;草莓洗净，去蒂，切丁，木瓜去皮、瓤、子，切丁。(3)取一大碗，盛入米饭，放凉后， 放入切好的水果丁拌匀，扣在盘子中，挤上奶油即可。
功效：
    富含有矿物质、大量果胶及纤维素，有润肺生津、健脾和胃、减肥、去火、解暑、清热等功效。</string>
	</dict>
	<dict>
		<key>nickname</key>
		<string>青豆烩双菇</string>
		<key>picturename</key>
		<string>10A.jpg</string>
		<key>bigpicturename</key>
		<string>10.jpg</string>
		<key>briefly</key>
		<string>材料：青豆、杏鲍菇、香菇、葱花、蒜末、鸡精、白胡椒粉、淀粉</string>
		<key>content</key>
		<string>做法：
　　1.将青豆倒入锅中煮片刻，将其捞出沥干水。将杏鲍菇与香菇洗净切片。
　　2.把葱花、蒜末倒入锅中爆香，尔后倒入杏鲍菇与香菇，将其翻炒至出水后倒入青豆，翻炒片刻后撒些许鸡精、白胡椒粉炒一会，最后用水淀粉勾芡即可。
　　功效：这道菜能让人产生饱腹感，还有助于润肠通便，让你轻松瘦出纤细蛮腰。</string>
	</dict>
</array>
</plist>
